## Preparation

- [ ] Create [preparation MRs] for this version and add the links below:
    ```sh
    # In the release-tools project:
    bundle exec rake "patch_merge_request[<%= version %>]"
    ```

  * CE:
  * EE:
 
- [ ] Cherry-pick changes into preparation MRs following their instructions
- [ ] Ensure the CE preparation MR has been fully merged into the EE counterpart
- [ ] Merge the preparation branches
- [ ] For `omnibus-gitlab` cherry-pick [remaining merge requests] directly into CE stable branch. Then, merge the CE Omnibus stable branch into EE.
- Check the following list of critical issues/MRs which are to be included in `<%= version %>`. Ensure each has made both CE and EE:
  - [ ] REFERENCE_TO_MR_TO_PICK
- [ ] Ensure builds are green on [Omnibus CE stable branch] and [Omnibus EE stable branch]

[preparation MRs]: https://gitlab.com/gitlab-org/release/docs/blob/master/general/picking-into-merge-requests.md
[remaining merge requests]: https://gitlab.com/gitlab-org/omnibus-gitlab/merge_requests?scope=all&utf8=%E2%9C%93&state=merged&label_name[]=Pick%20into%20<%= version.to_minor %>
[Omnibus CE stable branch]: https://gitlab.com/gitlab-org/omnibus-gitlab/commits/<%= version.stable_branch %>
[Omnibus EE stable branch]: https://gitlab.com/gitlab-org/omnibus-gitlab/commits/<%= version.stable_branch(ee: true) %>

## Packaging

- [ ] [Sync stable branches](https://gitlab.com/gitlab-org/release/docs/blob/master/general/push-to-multiple-remotes.md) for CE, EE, and Omnibus to `dev`; CE and Omnibus to `github`.
- [ ] Check for any problematic migrations in EE, and paste the diff in a snippet: `git diff -M v<PREVIOUS_TAG>-ee..<%= version.stable_branch(ee: true) %> -- db/migrate db/post_migrate ee/db/migrate ee/db/post_migrate` =>
- [ ] Tag the `<%= version %>` version using the [`release` task]:

  ```sh
  # In the release-tools project:
  bundle exec rake "release[<%= version %>]"
  ```
- [ ] While waiting for packages to build, now is a good time to [prepare the blog post]. Look at previous MRs for examples. => BLOG_POST_MR
- [ ] Check progress of [EE packages build](https://dev.gitlab.org/gitlab/omnibus-gitlab/commits/<%= version.to_omnibus(ee: true) %>) and [CE packages build](https://dev.gitlab.org/gitlab/omnibus-gitlab/commits/<%= version.to_omnibus(ee: false) %>).
    - This might take a while (around 80 min).
    - We only need the EE packages to finish to continue with next steps.
  

[`release` task]: https://gitlab.com/gitlab-org/release-tools/blob/master/doc%2Frake-tasks.md#releaseversion
[prepare the blog post]: https://about.gitlab.com/handbook/marketing/blog/release-posts/#release-posts

## Deploy

Deploys to production require confirmation from a production team member before
proceeding. Use `!oncall prod` in the `#production` channel to find who's on
call and ping someone. Deploys to staging or canary can be done at will, just
mention it in the `#production` channel.

- [ ] Warm up the packages on takeoff by running:

    ```sh
    # In the takeoff project:
    bin/takeoff-deploy -v <%= version %>-ee.0 -w
    ```

### staging.gitlab.com

- [ ] Inform the oncall in the #production channel about **staging** deploy
- [ ] On video call, [deploy] `<%= version %>` to **staging.gitlab.com**

    ```sh
    # In the takeoff project:
    bin/takeoff-deploy -e staging -v <%= version %>-ee.0
    ```
- [ ] Comment with the output of the migrations from the takeoff script in this issue

#### QA

- [ ] Announce with an `@product-team` mention in the `#product` Slack channel: ``@product-team `<%= version %>` has been deployed to staging.``
- [ ] Create a "QA Task" issue in the [gitlab-org/release/tasks](https://gitlab.com/gitlab-org/release/tasks) repo, using the `QA-task` template. 
- [ ] Notify #development and #releases about the QA issue with the following message: `<%= version %> has been deployed to staging, you can do QA and report any problems to the QA issue <link to the QA issue>`
- [ ] Wait for the QA Task deadline to pass

### canary.gitlab.com

- [ ] Inform the oncall in the #production channel about **canary** deploy
- [ ] On video call, [deploy] `<%= version %>` to **canary.gitlab.com**

    ```sh
    # In the takeoff project:
    bin/takeoff-deploy -e canary -v <%= version %>-ee.0
    ```

### gitlab.com (production)

- [ ] Get confirmation from a production team member to deploy to **production**
      In `#production`, use `!oncall prod` to find who's on call, and `@mention` them asking to deploy to production
- [ ] If someone besides the oncall confirms, `@mention` the oncall so they are aware.
- [ ] On video call, [deploy] `<%= version %>` to GitLab.com

    ```sh
    # In the takeoff project:
    bin/takeoff-deploy -e production -v <%= version %>-ee.0
    ```

[deploy]: https://gitlab.com/gitlab-org/takeoff#deploying-gitlab
[announce the deploy]: https://gitlab.com/gitlab-org/takeoff/blob/master/doc/announce-a-deployment.md

## Release

- [ ] From the [build pipeline], [manually publish public packages]
- [ ] Verify that packages appear on `packages.gitlab.com`: [EE](https://packages.gitlab.com/gitlab/gitlab-ee) / [CE](https://packages.gitlab.com/gitlab/gitlab-ce)
- [ ] Verify that Docker images appear on `hub.docker.com`: [EE](https://hub.docker.com/r/gitlab/gitlab-ee/tags) / [CE](https://hub.docker.com/r/gitlab/gitlab-ce/tags)
- [ ] Create the `<%= version %>` version on [version.gitlab.com](https://version.gitlab.com/versions/new?version=<%= version %>)
- [ ] Deploy the blog post
- [ ] Post a [tweet about] the `<%= version %>` release in the `#releases` channel:

    ```
    !tweet "GitLab <%= version %> is now available: [BLOG_POST_URL] [DESCRIPTION_OF_CHANGES]"
    ```

[build pipeline]: https://dev.gitlab.org/gitlab/omnibus-gitlab/pipelines?scope=tags
[manually publish public packages]: https://gitlab.com/gitlab-org/release-tools/blob/master/doc/publishing-packages.md
[tweet about]: https://gitlab.com/gitlab-org/takeoff#announce-that-the-deploy-is-done

## References

### gitlab.com

- https://gitlab.com/gitlab-org/gitlab-ce/commits/<%= version.stable_branch %>
- https://gitlab.com/gitlab-org/gitlab-ee/commits/<%= version.stable_branch(ee: true) %>
- https://gitlab.com/gitlab-org/omnibus-gitlab/commits/<%= version.stable_branch %>
- https://gitlab.com/gitlab-org/omnibus-gitlab/commits/<%= version.stable_branch(ee: true) %>

### dev.gitlab.org

- https://dev.gitlab.org/gitlab/gitlabhq/commits/<%= version.stable_branch %>
- https://dev.gitlab.org/gitlab/gitlab-ee/commits/<%= version.stable_branch(ee: true) %>
- https://dev.gitlab.org/gitlab/omnibus-gitlab/commits/<%= version.stable_branch %>
- https://dev.gitlab.org/gitlab/omnibus-gitlab/commits/<%= version.stable_branch(ee: true) %>

/milestone %"<%= version.to_minor %>"
/due in 7 days
